/venv
/newvenv
.idea
.idea/
### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

### Django ###
*.log
*.pot
*.pyc
#/ecomm_app/settings/enviroments
DataBasescredentials
djangoservercommands.md
resetdb.py
resetdb.exe
local_settings.py
.env
db.sqlite3
/ecomm_app/cred.json

__pycache__/
*/*/*/*/__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
